#main{
	width: 615px;
	margin: auto;
}

body{
	background-color: #FFFF;
}
#header{
	width: 600px;
	height: 40px;
	text-align: center;
	font-family: monospace;
	margin-top: 40px;
	display: none;
}
.btn{
	background: none;
	border:none;
}

.main h4{
	text-align: center;
}
#left{

	width: 150px;
	height: 600px;
	float: left;
	font-family: monospace;
	display: none;
}

#nhietdo{
	position: relative;
	height: 150px;
	width: 150px;
	text-align: center;
	margin-top: 40px;
	float: right;
}
#light{
	position: relative;
	height: 135px;
	width: 150px;
	text-align: center;
	margin-top: 180px;
	float: right;
}



#mid{
	width: 300px;
	height: 600px;
	text-align: center;
	font-family: monospace;
	float: left;
	margin-left: 15px;
}
#home1{
	position: relative;
	height: 230px;
	width: 260px;
	text-align: center;
	margin-top: 170px;
}

#right{

	width: 150px;
	height: 600px;
	font-family: monospace;
	float: left;
	display: none;
}

#other{
	position: relative;
	height: 150px;
	width: 150px;
	text-align: center;
	margin-top: 40px;
	float: right;
}

#cua{
	position: relative;
	height: 135px;
	width: 150px;
	text-align: center;
	margin-top: 180px;
	float: right;
}
#footer1{
	width: 645px;
	height: 400px;
	margin-top: 680px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	display: none;
}
#footer2{
	width: 645px;
	height: 400px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	font-family: monospace;
	margin-top: 680px;
	display: none;
	padding-left: 10px;
	background-color: 
}
#footer2 h1{
		text-align: center;
		font-family: monospace;
}
#footer2 h4{
	text-align: left;
	margin-top: 10px;
}
#footer3{
	width: 645px;
	height: 400px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	margin-top: 680px;
	display: none;
}
#footer4{
	width: 645px;
	height: 400px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	margin-top: 680px;
	display: none;
}
#footer5{
	width: 645px;
	height: 400px;
	border-radius: 20px;
	border-style: solid;
	border-color: #585858 2px;
	text-align: center;
	font-family: monospace;
	margin-top: 680px;
	display: none;
}

.footer2 input{
	width: 150px;
	height: 60px;
	font-family: monospace;
	text-align: center;
}
#setup1{
	float: left;
	list-style: none;
	position: absolute;
	padding-left: 10px;
}
#season{
	margin-right: 20px;
	float:right;
	position: relative;
}
#tempp{
	height: 60px;
	width: 60px;
}
#humm{
	height: 60px;
	width: 60px;
} 
#sett{
	height: 50px;
	width: 50px;
} 
#settbtn{
	background-color: #FFFF;
	border: none;
}